body {
    background-color: #fefefe;
    font-family: 'Roboto', sans-serif;
}

#container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#hidden {
    display: none;
}

#movie_input_form, #display_movies {
    background-color: #eff1ed;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 1px #0C151D;
    display: flex;
    flex-direction: column;
    width: 75%;
    max-width: 1000px;
    min-width: 410px;
}

#movie_input_form > div, #display_movies > div {
    margin: 10px;
}

.inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.enter_info, select {
    width: 65%;
    border-radius: 5px;
    border: none;
}

select {
    height: 35px;
    padding: 10px;
}

.enter_info {
    height: 30px;
}

label {
    width: 35%;
    white-space: nowrap;
    text-align: right;
    padding-right: 5%;
}

button {
    outline: none;
    border: none;
    color: #eff1ed;
}

fieldset {
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin: 10px;
    text-align: left;
    background: white;
}

fieldset > legend {
    text-align: left;
    padding-left: 25px;
}

#buttons {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

#buttons > button {
    height: 50px;
    color: #eff1ed;
    letter-spacing: 1px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
} 

#buttons > input[type=submit]:hover {
    color: black;
}

button:focus {
    outline: none;
}

#create {
    background-color: #3F88C5;
    margin-right: 1px;
}

#cancel {
    background-color: #FFBA08;
    margin-left: 1px;
}

.errors {
    text-align: right;
    color: #D00000;
}

.movie_item {
    display: grid;
    grid-template-columns: repeat(6, 16.67%);
    text-align: center;
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
    border-bottom: 2px solid #3F88C5;
    padding: 10px;
    height: 50px;
    align-items: center;
}

#add_movie {
    color: #eff1ed;
    letter-spacing: 1px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}

.edit, #add_movie {
    background-color: #3F88C5;
}

.edit, .delete {
    letter-spacing: 1px;
    font-size: 20px;
    padding: 3px;
    border-radius: 5px;
    height: 40px;
}

.delete {
    background-color: #D00000;
    margin-left: 2px;
}

input:focus, select:focus {
    outline: none;
}